---
title: Home Page
date: 2026-09-07
permalink: index.html
---
<html>
  <head>
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>Metro Bus Routes</h1>
    <p>Last Updated: {{ date }}</p>
    <ul>
      {% for route in routes %}
        <li><a href="/routes/{{ route.route_code }}">{{ route.route_code }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>