---
layout: layout.njk
pagination:
  data: routes
  size: 1
  alias: route
permalink: "/routes/{{ route.route_code }}/index.html"
eleventyComputed:
  title: "Route {{ route.route_code }}"
---
<a href="/">Back to Home</a>
<h1>Route {{ route.route_code }}</h4>
{% for stops in route.stops %}
  <table>
    <thead>
      <tr>
        <th colspan="3">
          {{ (stops | first).stop_name }} to {{ (stops | last).stop_name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Stop ID</th>
        <th>Street Crossing</th>
        <th>Destination Id</th>
      </tr>
      {% for stop in stops %}
        <tr>
          <td>{{ stop.stop_id }}</td>
          <td>{{ stop.stop_name }}</td>
          <td>{{ stop.direction_id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
{% endfor %}
